.contacts
    a.contact(href="tel:+380970000000")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +380970000000

    a.contact(href="mailto:i@i.ua")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text i@i.ua

    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")